*{
    user-select: none;
    color: white;
}
body{
    background: black;
    overflow-x: hidden;
}
.downloadContainers{
    text-align: center;
    width: 100%;
}
button{
    cursor: pointer;
}
